# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Secrets and local env
.env
*.keystore
*.jks
android/key.properties
ios/Runner/GoogleService-Info.plist
android/app/google-services.json
